body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
h1 {
    margin-bottom: 20px;
}
small {
    color: #ff0000
}
table {
    width: 300px;
    margin: 10px;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}
th {
    background-color: #f4f4f4;
}
#help {
    margin-top: 25px;
    padding: 8px 16px;
    background-color: #22ca00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#help:hover {
    background-color: #178700;
}
#about {
    margin-top: 15px;
    padding: 6px 12px;
    background-color: #c1da00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
#about:hover {
    background-color: #8b9d00;
}
#joinGame {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#joinGame:hover {
    background-color: #0056b3;
}